* {
    box-sizing: border-box;
}

html {
    // Rédéfinir la taille par défaut d'1 rem à 10px plutôt que 16px
    font-size: 62.5%;
}

body {
    // On rédéfinit une taille par défaut à 16px
    font-size: 1.6rem;

    // Appliquer la mixin no-margin
    @include no-margin;
}

img {
    width: 100%;
}

ul {
    @include no-margin;
}