// Variables
$color-primary: #111111;
$color-secondary: #ffffff;
$color-white: #f2f0f1;
$color-success: #03ba03;
$color-ennemy: #a80404;
$color-info: #3c607d;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

$title-size: 2.4rem;